$colors: (
  logo-red: #E7262B,
  logo-black: #2C2825,
  brand-blue: #12C3F4,
  brand-dark-gray: #86898D,
  brand-green: #A3D183,
  brand-light-gray: #C4C6C7,
  brand-red: #EB2627,
  brand-orange: #F58220,
  brand-dark-blue: #008AA9,
  brand-off-white: #F0EDE0,
  brand-red-var: #F41212,
  brand-blue-var: #0091EA,
  brand-darker-gray: #6d7b83,
  brand-red-grad: #920609,
  brand-red-grad-1: #EB2627
);